<ion-header>
  <ion-navbar style="opacity: 0.8" no-border-bottom color="primary">
    <ion-title>首页</ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen>

  <!-- 轮播:
  autoplay:2s之后开始轮播
  loop:循环播放
  pager:分页器（小圆点） pager=true
-->
  <ion-slides [pager]="true" [loop]="true" autoplay="3000" [initialSlide]=0 *ngIf="slides.length > 1">
    <ion-slide *ngFor="let item of slides" >
      <img src="{{item.newsImgUrl}}" alt="" (click)="goDetails(item)">
      <div class="cover"></div>
      <span class="title">{{item.newsTitle}}</span>
    </ion-slide>
  </ion-slides>

  <ion-item-divider class="t-header" color="light">最新新闻</ion-item-divider>
  <ion-products [news]="news"></ion-products>

</ion-content>
